<!-- MembersMapper (myBatis) -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.springchap4.mapper.MembersMapper">
	<!-- 회원등록 -->
	<insert id="insertMember" parameterType="com.kh.springchap4.model.Member">
	INSERT INTO Members (MemberID, USERNAME, PASSWORD, FULLNAME, EMAIL, REGISTRATIONDATE)
	VALUES (members_seq.NEXTVAL, #{username}, #{password}, #{fullName}, #{email}, sysdate)
	</insert>
</mapper>