<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>카카오톡 회원가입</title>
	</head>
	<body>
		<h2>카카오톡으로 회원가입</h2>
		<form action="/kakao/register" method="post">
			<label>이메일 : </label>
			<input type="text" id="email" name="email" th:value="${kakaoInfo.email}" readonly>
			<br/>
			<label>닉네임 : </label>
			<input type="text" id="nickname" name="nickname" th:value="${kakaoInfo.nickname}" readonly>
			<br/>
			<label>이름 : </label>
			<input type="text" id="name" name="name" />
			<br/>
			<label>생년월일 : </label>
			<input type="text" id="birthdate" name="birthdate" />
			<br/>
			<input type="submit" value="가입완료" />
		</form>
	</body>
</html>